<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
    <h1>Info Polen</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="Infopolen">Niveles de polen</a></li>
    </ul>
  </div>

</div>
